/* globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-primary: hsl(37, 97%, 70%);
  --instagram-secondary: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);
  --dark-grayish-blue-text: hsl(228, 12%, 44%);
  --light-grayish-blue-card-bg: hsl(227, 47%, 96%);
  --very-pale-blue-top-bg: hsl(225, 100%, 98%);
}
body {
  font-family: "Inter", sans-serif;
}
.wrapper {
  padding: 0 30px;
}
.grid{
    display: grid;
    row-gap: 30px;
}
/* header */
.header{
    background-color: var(--very-pale-blue-top-bg);
    padding-bottom: 100px;
    border-radius: 0 0 15px 15px;
    padding-top: 2em;
}
.header__title {
    font-size: 1.5em;
}
.header__subtitle{
    color: var(--dark-grayish-blue-text);
    font-size: 1em;
    margin: .5em 0;
    font-weight: bold;
    border-bottom: 2px solid var(--dark-grayish-blue-text);
    padding-bottom: 1.5em;
}
.primary-cards{
    margin-top: -50px;
}
/* card */
.card {
  border-radius: 7px;
  overflow: hidden;
  background-color: var(--light-grayish-blue-card-bg);
  text-align: center;
  padding: 1em 0;
  position: relative;
  display: none;
}
.card:before {
  content: "";
  height: 3px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.card.facebook::before{
    background-color: var(--facebook);
}
.card.twitter::before{
    background-color: var(--twitter);
}
.card.instagram::before{
    background: linear-gradient(to right, var(--instagram-primary) 0%, var(--instagram-secondary) 100%);
}
.card.youtube::before{
    background-color: var(--youTube);
}
.card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-grayish-blue-text);
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 25px;
}
.card__title img {
  margin-right: 7px;
}
.card__followers {
  margin-top: 15px;
}
.card__followers--number {
  font-size: 45px;
  font-weight: 700;
}
.card__followers--title {
  display: block;
  text-transform: uppercase;
  color: var(--dark-grayish-blue-text);
  letter-spacing: 4px;
  font-size: 0.7em;
}
.card__today {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: var(--lime-green);
  font-size: 0.7em;
  font-weight: bold;
}
.card__today img {
    margin-right: 5px;
}

/* overview */
.overview {
    margin-bottom: 1000px;
}
.card-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    background-color: var(--light-grayish-blue-card-bg);
    border-radius: 8px;
    padding: 1.5em;

}
.card-small__views{
    color: var(--dark-grayish-blue-text);
    font-weight: bold;
}
.card-small__icon{
    text-align: right;
}
.card-small__number{
    font-weight: bold;
    font-size: 2em;
    line-height: .9;
}
.card-small__rate{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: .8em;
    font-weight: bold;
}
.card-small__rate.positive{
    color: var(--lime-green);
}
.card-small__rate.negative{
    color: var(--bright-red);
}
.card-small__rate span {
    display: flex;
    align-items: center;
}
.card-small__rate img {
    margin-right: 5px;
}